<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>About us</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script type="module" src="/js/app.js"></script>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link rel="stylesheet" href="/styles/style.css" />
	</head>
	<body>
		<nav class="navbar">
			<a class="navHeading" href="index.html"> Acme Store </a>
			<div class="dropdown">
				<button class="dropbtn">
					More
					<i class="fa fa-caret-down"></i>
				</button>
				<div class="dropdown-content">
					<div class="header">
						<h2>Explore</h2>
					</div>
					<div class="row">
						<div class="column">
							<h3>Join us</h3>
							<a class="navHeading" href="./careers.html">
								Careers
							</a>
						</div>
						<div class="column">
							<h3>Know who we are</h3>
							<a class="navHeading" href="./aboutUs.html">
								About us
							</a>
						</div>
						<div class="column">
							<h3>Get in touch</h3>
							<a class="navHeading" href="./contact.html">
								Contact us
							</a>
						</div>
						<div class="column">
							<h3>Know our peers in success</h3>
							<a class="navHeading" href="./partners.html">
								Partners
							</a>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<nav>
			<ul>
				<li><a class="spaLink" href="#AboutUs"> About us </a></li>
				<li><a class="spaLink" href="#Mission"> Our Mission </a></li>
				<li><a class="spaLink" href="#RateUs"> Rate us </a></li>
			</ul>
		</nav>

		<div class="content">
			<section id="AboutUs">
				<h2>About us</h2>
				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit.
					Necessitatibus, praesentium. Doloremque corporis nemo iusto
					tenetur quos suscipit eius aliquid debitis repellendus qui
					ipsam dolorum similique non veritatis quidem hic cumque
					quibusdam rerum porro, inventore delectus amet atque vero.
					Nisi modi et ipsa dolorum possimus excepturi! Fuga doloribus
					rem corporis corrupti tempore distinctio iure molestias,
					neque sed natus id quia optio eius perferendis incidunt
					repudiandae, in porro esse? Modi nobis voluptas ex
					cupiditate minima, maiores commodi. Illo quae blanditiis
					repellendus soluta maxime earum rerum nisi praesentium eius
					reiciendis eos maiores, numquam, sit hic cum dolorem id
					voluptates sequi nam? Quam ea tempora asperiores nihil earum
					blanditiis cumque et accusantium ducimus harum repellat a
					temporibus amet, necessitatibus exercitationem in, error
					explicabo dolorum fugit labore quo eos reprehenderit!
					Dignissimos quos aspernatur obcaecati quasi, ut expedita
					quo? Numquam molestias magni dolorum quibusdam atque, earum
					voluptas autem mollitia non repellendus, dicta, repudiandae
					pariatur accusantium. Iure, labore laudantium inventore
					facilis consequatur temporibus itaque eveniet non id a
					officiis veniam assumenda quod, soluta placeat! Cumque
					itaque alias, et ad error quia, minima harum hic quam amet
					ratione ipsum corporis quis, tenetur eos totam consequuntur
					laborum. Commodi cum repellat, ad vero rerum atque,
					reiciendis animi sed nobis modi eius earum tenetur, ratione
					exercitationem at libero non aut! Beatae, adipisci
					consequatur. Architecto dolorem delectus aliquid! Impedit
					suscipit numquam earum eum nesciunt a tenetur alias
					accusantium exercitationem quidem, sint consequatur iste
					eveniet, saepe voluptatem assumenda nulla, iure odit
					aliquid. Delectus dolores maxime neque alias nulla,
					consequuntur nostrum beatae optio animi voluptatum aperiam
					quas maiores ad! Optio eligendi iste aperiam assumenda,
					eaque dolores repellendus doloribus, quis explicabo iusto
					mollitia aliquam reprehenderit consequuntur rerum, quae
					ullam nam quaerat in error. Fugiat eveniet ea officiis,
					repellendus, rerum fugit mollitia est ipsa doloremque magni
					sequi expedita neque culpa. Tenetur hic reiciendis fugiat
					corporis cumque quos iste commodi eius porro natus
					laboriosam modi repellat vitae reprehenderit consequuntur
					architecto recusandae, cum, maiores ratione veritatis? Quasi
					autem fugit omnis voluptates. Nesciunt libero eaque aliquid
					iste ipsam enim dicta labore molestias, dolor perspiciatis,
					placeat quidem voluptas ipsa error expedita. Praesentium hic
					vitae animi eaque ipsum. Aperiam ullam, iusto sint non hic
					voluptatem debitis, aut dolore, voluptate delectus iure
					cupiditate commodi provident quos! Illum accusantium
					temporibus dolores exercitationem aperiam dicta, perferendis
					totam sed vel a sint iure sapiente cum odio voluptates
					repellendus! Eum, ex atque. Quam reprehenderit doloribus,
					distinctio ad nulla facilis veniam eos beatae earum
					pariatur. Minus, aperiam!
				</p>
			</section>

			<section id="Mission">
				<h2>Our Mission</h2>
				<div class="parallax"></div>

				<div
					style="
						height: 600px;
						background-color: rgb(172, 248, 244);
						font-size: 28px;
						color: rgb(3, 40, 65);
					"
				>
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Quis facilis tenetur magnam nostrum, illo reprehenderit
					maxime quos quae quisquam a eum unde provident inventore ab
					debitis deserunt, architecto consequuntur vitae! Cupiditate
					itaque aperiam vitae dicta ut! Odio, esse sint eum quas
					deserunt praesentium in dicta ex quisquam totam et nam ipsa
					officia saepe at voluptate molestiae! Tempora, cumque?
					Sequi, minima beatae! Amet dicta dolor quae, asperiores
					facere consectetur! Adipisci placeat sed ad aut, totam ea
					sapiente itaque perspiciatis. Veritatis doloribus vel
					dignissimos itaque? Labore, soluta ab! Voluptatum at
					ducimus, repudiandae cum porro minima facere tempora, ab
					eligendi aut consequuntur quia!
				</div>
			</section>

			<section id="RateUs">
				<h2>Rate us</h2>
				<div class="slidecontainer">
					<input
						type="range"
						min="1"
						max="10"
						value="5"
						class="slider"
						id="myRange"
					/>
				</div>
				<p>Rating: <span id="sliderRating"></span></p>

				<canvas
					id="myCanvas"
					width="200"
					height="200"
					style="border: 1px solid #d3d3d3"
				>
					Your browser does not support the HTML canvas tag.
				</canvas>
				<h4>Enter your mobile number</h4>
				<input
					type="number"
					required="true"
					name="userMobileNumber"
					id="userMobNum"
					placeholder="Enter mobile no."
				/>
				<br />
				<label for="userMobNum" id="userMobLabel"></label>
				<br />
				<button
					name="submitMobileNumber"
					id="submitMobNum"
					onclick="validateFunction()"
				>
					Submit
				</button>
			</section>
		</div>
		<script>
			function validateFunction() {
				const inpObj = document.getElementById("userMobNum");
				let valInside = inpObj.value;
				if (valInside < 6000000000 || valInside > 9999999999) {
					currLabel = document.getElementById("userMobLabel");
					currLabel.style.color = "red";
					currLabel.innerHTML =
						"Mobile number must be a 10 digit valid phone number, starting with 6/7/8/9!";
				} else {
					document.getElementById("userMobLabel").innerHTML =
						"Thank you for your participation!";
				}
			}
			var slider = document.getElementById("myRange");
			var output = document.getElementById("sliderRating");
			output.innerHTML = slider.value;
			var currentRating;
			slider.oninput = function () {
				output.innerHTML = this.value;
				currentRating = this.value;
				var c = document.getElementById("myCanvas");
				var ctx = c.getContext("2d");
				ctx.beginPath();
				ctx.arc(95, 100, 40, 0, 2 * Math.PI);
				ctx.stroke();
				if (currentRating <= 3) {
					ctx.fillStyle = "red";
					ctx.fill();
				}
				if (currentRating >= 4 && currentRating <= 7) {
					ctx.fillStyle = "yellow";
					ctx.fill();
				}
				if (currentRating >= 8) {
					ctx.fillStyle = "green";
					ctx.fill();
				}
			};
		</script>
	</body>
</html>
