<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Careers</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script type="module" src="/js/app.js"></script>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
		<link rel="stylesheet" href="/styles/style.css" />
	</head>
	<body>
		<nav class="navbar">
			<a class="navHeading" href="index.html"> Acme Store </a>
			<div class="dropdown">
				<button class="dropbtn">
					More
					<i class="fa fa-caret-down"></i>
				</button>
				<div class="dropdown-content">
					<div class="header">
						<h2>Explore</h2>
					</div>
					<div class="row">
						<div class="column">
							<h3>Join us</h3>
							<a class="navHeading" href="./careers.html">
								Careers
							</a>
						</div>
						<div class="column">
							<h3>Know who we are</h3>
							<a class="navHeading" href="./aboutUs.html">
								About us
							</a>
						</div>
						<div class="column">
							<h3>Get in touch</h3>
							<a class="navHeading" href="./contact.html">
								Contact us
							</a>
						</div>
						<div class="column">
							<h3>Know our peers in success</h3>
							<a class="navHeading" href="./partners.html">
								Partners
							</a>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<h3>Sorry, we are currently not hiring</h3>
		<p>
			INFO: Lorem ipsum dolor sit amet consectetur adipisicing elit.
			Explicabo consequuntur, architecto ex in voluptatum nobis repellat.
			Eos obcaecati, dolorem totam, vitae molestiae mollitia labore
			consectetur, temporibus porro magnam asperiores ab? Quae libero
			fugiat enim in deleniti vel eius possimus, eos quibusdam tenetur
			ipsum similique porro quaerat facere distinctio, error saepe quis,
			ipsam nobis? Amet earum perferendis distinctio consequuntur
			praesentium animi, quidem quae voluptas, quia molestias qui
			blanditiis, eos adipisci exercitationem. Sunt quidem ut dolorem fuga
			vel dignissimos ex accusamus quos cum, id dolores dolor animi nam.
			Officiis accusamus dicta fugit qui corrupti libero nam, natus sint!
			Nulla, beatae ipsam. Quas, incidunt ut inventore commodi repellendus
			nobis! Aspernatur cum itaque distinctio tempora explicabo, illo,
			veniam hic eius repellendus cupiditate sunt saepe maxime ut
			accusantium sed iure aliquid commodi eligendi obcaecati et! Fugit
			quae omnis sunt culpa sapiente animi voluptates beatae praesentium
			rem aliquid earum dolorem aliquam commodi, modi hic laudantium sit
			quibusdam exercitationem minus! Possimus hic placeat, eum doloribus
			labore tempore, odio quam, officia accusamus voluptates a molestias.
			Aut nulla beatae quis non obcaecati nostrum facilis laudantium
			accusamus aliquam, debitis, aperiam ab adipisci eveniet quod dolore
			rerum perferendis voluptatum? Architecto aspernatur, at iure quia
			cupiditate quas consequatur eius nesciunt sequi ad! Lorem ipsum
			dolor sit amet consectetur adipisicing elit. Qui earum tenetur
			ratione minima modi sunt at laboriosam enim ad omnis nostrum quas,
			explicabo ullam molestias impedit molestiae, quibusdam provident
			mollitia aperiam porro eius nemo? Enim culpa necessitatibus esse
			aut, minus deleniti. Exercitationem, accusantium nemo quaerat in
			aut, tempora voluptatem at ipsam amet hic minima? Quibusdam facilis
			laudantium eligendi commodi ducimus? Quos voluptate neque unde odit
			sequi? Quasi, nobis? Autem corporis, eius excepturi explicabo est
			ipsa aliquid illo cum dicta tenetur eligendi et laborum suscipit
			ipsam molestias fugiat accusantium iure dolore doloribus dolorem
			cumque! Molestiae beatae eveniet nihil eaque harum nobis vitae
			corrupti sed distinctio animi maiores quaerat ipsam sunt, rem
			consequatur debitis reiciendis. Laboriosam exercitationem
			dignissimos veniam nostrum asperiores consequatur, ad corrupti nisi
			magni ab totam velit, quae dolore, sint aspernatur deleniti itaque
			at! Ab ipsa incidunt odit voluptatem, soluta cupiditate facilis
			quidem, ipsum rerum quae voluptas fugiat doloremque consectetur
			reiciendis ex quibusdam et neque? Illum blanditiis quis saepe qui
			ullam et soluta suscipit laboriosam voluptatem aut eligendi libero,
			facere ipsum repellat enim, quidem quaerat. Ratione et nostrum
			obcaecati doloremque iusto sequi tenetur? Illo soluta aperiam
			provident nisi, debitis magnam perferendis exercitationem impedit
			esse possimus temporibus corrupti enim veniam iste!
		</p>
	</body>
</html>
