.navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	height: 10vmin;
	background-color: #011333;
	width: 97vmax;
	color: aquamarine;
	font-size: 2em;
	padding-left: 4vmin;
}

.navHeading {
	margin-right: 100px;
}

.pricedesc {
	align-self: flex-end;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.sidepanel {
	display: flex;
	flex-wrap: wrap;
	margin: 5px;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	width: 12vmax;
	height: 32vmax;
	padding: 0 5vmin;
	border-radius: 3px;
	background: #e3e2f1;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	font-size: 1.2vmax;
	color: #0f032b;
}

.containerItems {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.card {
	display: flex;
	margin: 5px;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 17vmax;
	height: 30vmax;
	padding-top: 3vmin;
	padding-bottom: 3vmin;
	padding-left: 3vmin;
	padding-right: 3vmin;
	border-radius: 3px;
	background: #dbf5fc;
	box-shadow: 5px 4px 15px #052050;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.1vmax;
	color: #020e20;
}

.card:hover {
	opacity: 0.6;
	cursor: pointer;
}

.img-overview {
	display: flex;
	height: 12vmax;
	object-fit: contain;
}

.checkboxStack {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.checkboxRow {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.subheadingPanel {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.3vmax;
	color: #0f032b;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 50px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

#caption {
	margin: auto;
	display: block;
	background-color: #03122ba9;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: rgb(199, 251, 253);
	padding: 10px 0;
	height: 150px;
}

.modal-content,
#caption {
	animation-name: zoom;
	animation-duration: 0.5s;
}

@keyframes zoom {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #b7e1fcda;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: rgb(255, 255, 255);
	text-decoration: none;
	cursor: pointer;
}
